.btn {
    background: transparent;
    border: none;
    width: 20px;
    height: 20px;
    margin-left: 20px;
}
.edit-btn {
    background-image: url("../../../assets/edit.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 10px;
}
.delete-btn {
    background-image: url("../../../assets/trash.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 10px;
}