<div class="main container">
    <div class="container">
      <div class="row">
          <div class="col-md-6">
            <p>Listado de <b>Pokemon</b></p>
          </div>
            <div class="col-md-6 d-flex justify-content-end">
              <button (click)="Listar()" class="btn btn-info mr-3">Listar</button>
              <button (click)="Nuevo()" class="btn btn-info" style="margin-left: 10px;"><b>+</b> Nuevo</button> 
            </div>

    </div>
  </div>


</div>

<hr>
<router-outlet></router-outlet>
